  <% if signed_in? %> 
<div class="container">
    <div class="align-items-center">
    <hr>
      <h1>Publicar Pregunta</h1>
      <%= form_for @question do |f| %>
        <div class="form-group">
          <%= f.text_field :title, class: "form-control input-lg", placeholder: "Titulo" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control input-lg", placeholder: "Descripción" %>
        </div>
        <div>
          <%= f.submit "Preguntar!", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
</div>
<% end %>

<div class="text-center">
<h4 class="alert alert-danger text-center">Lo sentimos, sólo los usuarios registrados pueden realizar preguntas</h4>
<%= link_to("Registrate", "/users/sign_up" , class: "text-danger h1") %>
<h6>Puedes ver la lista de preguntas <%= link_to("Aquí", "/" , class: "text-success") %></h6>
</div>